{% require_css %}
{{ require_css(get_asset_url("../../css/hero-section.css"), { async: true }) }}
{% end_require_css %}
<div id="{{module.module_identity}}"
    class="global-hero-section {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container-lg">
        <div class="row container__hero">
            <div class="col-12 position-absolute container-breadcrumb">
                <span class="breadcrumb">
                    {% menu "my_menu" id=36098716027, site_map_name='Default', overrideable=False,
                    root_type='site_root', flyouts='true', flow='horizontal', label='Advanced Menu' %}
                </span>
            </div>
            <div class="col-md-8 container__hero--content">
                <div class="copy-wrapper py-md-3 bg-light-white bg_blur my-md-2 rounded">
                    {% inline_rich_text field="rich_text" value="{{ module.content_group.text }}" %}
                    {% if module.content_group.external_link_url.href %}
                    <a class="{{module.content_style.button_type}}-button mt-2"
                        href="{{module.content_group.external_link_url.href}}">{{module.content_group.external_link_title}}<span
                            class="icon-external-link"></span></a>
                    {% endif %}
                </div>
            </div>
            <div class="container__hero--img d-none d-md-block">
                {% if module.content_group.image.src %}
                <figure class="figure h-100">
                    <img class="img-fluid rounded" loading="lazy" width="{{ module.content_group.image.width }}"
                        height="{{ module.content_group.image.height }}" src="{{ module.content_group.image.src }}"
                        alt="{{ module.content_group.image.alt }}" />
                </figure>
                {% else %}
                <figure class="figure h-100">
                    <img class="img-fluid rounded" loading="lazy" width="600" height="600"
                        src="https://via.placeholder.com/600x600/919388/ffffff.png?text=image">
                </figure>
                {% endif %}
            </div>
        </div>
    </div>
</div>