@import '../settings/colors';
@import '../settings/fonts';

.global-hero-landing {

  @media screen and (max-width: 767px) {
    .row {
      flex-direction: column-reverse;
      .container__form {
        margin-top: 60px;
      }
    }
  }

  
  .global-intro {
    position: relative;
    .container__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      &:after {
        content: '';
        background-color: rgba(31, 39, 53, 0.82);
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      figure {
        img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          font-family: 'object-fit:cover';
          object-fit: cover;
        }
      }
    }
  }
  .global-intro {
    .hero-introduction {
      h1 {
        margin-top: 0;
      }
      p,
      h1 {
        color: $white;
      }
    }
  }
  .container-body-left {
    & > h2 {
      margin-top: 0;
    }
    img {
      max-width: 100%;
      border-radius: 3px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        padding-left: 15px;
        position: relative;
        line-height: 30px;
        & + li {
          margin-top: 10px;
        }
        &::before {
          content: '-';
          color: #ffc100;
          position: absolute;
          left: 0;
          font-weight: 700;
          font-size: 26px;
          top: -2px;
        }
      }
    }
  }
  .container__form {
    background-color: $primary-blue;
    h3 {
      color: $white;
    }
    form {
      background-color: $primary-blue;
      text-align: left;
      label {
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        p {
          text-transform: initial;
          color: $white;
          font-size: 12px;
          line-height: 1;
        }
      }
      .legal-consent-container {
        margin-top: 30px;
        & input[type='checkbox'] + span:before {
          position: absolute;
          margin-top: 6px;
          left: -20px;
          border-radius: 3px;
          background-color: white;
        }
        p {
          color: $white;
          font-size: 12px;
          line-height: 1.4;
          display: inline;
          a {
            color: $white;
          }
        }
      }
      .actions {
        input {
          background-color: #d20e43;
          font-family: Open Sans, sans-serif;
          font-size: 16px;
          font-weight: 700;
          border-radius: 3px;
          border: 0;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          padding: 15px 30px;
          transition: all 0.4s ease;
          cursor: pointer;
          box-shadow: 0 3px 6px 0 rgba(210, 14, 67, 0.5);
          display: inline-block;
          position: relative;
          transition: 0.4s ease;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}
