@import '../settings/colors';
@import '../settings/fonts';

.pilar-testi {
    .testi {
        padding-left: 185px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 3px;
            height: 100%;
            border-radius: 1.5px;
            background-color: $primary-red;
            top: 0;
            left: 151px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 468px;
            height: 239px;
            z-index: -1;
            background-image: url("data:image/svg+xml,%3Csvg width='468' height='239' viewBox='0 0 468 239' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M415.092 129.975C160.638 314.598 -81.9511 235.382 26.5769 108.533C145.01 -25.2852 626.27 -54.174 415.092 129.975Z' fill='%23F9EAEC'/%3E%3Cpath d='M63.6667 102H43.6667C42.429 102 41.242 102.498 40.3668 103.385C39.4917 104.272 39 105.475 39 106.73V128.351C39 129.606 39.4917 130.809 40.3668 131.696C41.242 132.583 42.429 133.081 43.6667 133.081H64.3333V136.459C64.3245 139.503 63.1277 142.42 61.0042 144.572C58.8807 146.724 56.0031 147.937 53 147.946C52.4696 147.946 51.9609 148.16 51.5858 148.54C51.2107 148.92 51 149.435 51 149.973C51 150.511 51.2107 151.026 51.5858 151.406C51.9609 151.786 52.4696 152 53 152C57.0667 152 60.9667 150.363 63.8423 147.448C66.7179 144.534 68.3333 140.581 68.3333 136.459V106.73C68.3333 105.475 67.8417 104.272 66.9665 103.385C66.0913 102.498 64.9043 102 63.6667 102ZM64.3333 129.027H43.6667C43.4899 129.027 43.3203 128.956 43.1953 128.829C43.0702 128.702 43 128.531 43 128.351V106.73C43 106.551 43.0702 106.379 43.1953 106.252C43.3203 106.125 43.4899 106.054 43.6667 106.054H63.6667C63.8435 106.054 64.013 106.125 64.1381 106.252C64.2631 106.379 64.3333 106.551 64.3333 106.73V129.027ZM102.333 102H82.3333C81.0957 102 79.9087 102.498 79.0335 103.385C78.1583 104.272 77.6667 105.475 77.6667 106.73V128.351C77.6667 129.606 78.1583 130.809 79.0335 131.696C79.9087 132.583 81.0957 133.081 82.3333 133.081H103V136.459C102.991 139.503 101.794 142.42 99.6708 144.572C97.5473 146.724 94.6698 147.937 91.6667 147.946C91.1362 147.946 90.6275 148.16 90.2525 148.54C89.8774 148.92 89.6667 149.435 89.6667 149.973C89.6667 150.511 89.8774 151.026 90.2525 151.406C90.6275 151.786 91.1362 152 91.6667 152C95.7333 152 99.6334 150.363 102.509 147.448C105.385 144.534 107 140.581 107 136.459V106.73C107 105.475 106.508 104.272 105.633 103.385C104.758 102.498 103.571 102 102.333 102ZM103 129.027H82.3333C82.1565 129.027 81.987 128.956 81.8619 128.829C81.7369 128.702 81.6667 128.531 81.6667 128.351V106.73C81.6667 106.551 81.7369 106.379 81.8619 106.252C81.987 106.125 82.1565 106.054 82.3333 106.054H102.333C102.51 106.054 102.68 106.125 102.805 106.252C102.93 106.379 103 106.551 103 106.73V129.027Z' fill='%23D20E43'/%3E%3C/svg%3E%0A");
        }
        .testi-text {
            color: $black;
            font-family: "Open Sans";
            font-style: italic;
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 10px;

            * {
                color: $black;
                font-family: "Open Sans";
                font-style: italic;
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
            }
        }
        .author {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            opacity: 0.4;
            color: $black;
            * {
                color: $black;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
