/* Video Play Icon */
.video-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    figure {
        &:after {
            background-color: #1d3b7433;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: .2;
            z-index: -1;
        }
    }
    .video-play-icon {
        svg {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            cursor: pointer;
            -webkit-transition: 0.3s all;
            transition: 0.3s all;
            &:hover {
                opacity: 0.95;
                transform: translate(-50%, -50%) scale(0.9);
                animation: fadeOut 0.3s forwards;
            }
        }
    }
    p {
        display: block;
        text-align: center;
        font-weight: 600;
        margin-top: 5px;
    }
}
/* Modal */

.modal {
    z-index: 4200 !important;
    .modal-dialog {
        transform: translateY(-50%) !important;
        top: 50% !important;
        transition: opacity 0.2s ease-out !important;
        margin: 0 auto !important;
    }
    &.fade {
        .modal-center-viewport {
            display: flex;
            align-items: center;
            margin: 0 auto;
            height: 100vh;
            justify-content: center;
            pointer-events: none;
        }
        .modal-content {
            background: #000000 !important;
            border: 0 !important;
            border-radius: 0 !important;
        }
        .modal-backdrop {
            z-index: 4100 !important;
        }
    }
}
