// Here you can setup all your colors of your website

/* SCSS HEX */
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

/* APIA COLORS */
$primary-blue: #1d3b74;
$primary-red: #d20e43;
$primary-black: #1f2735;
$primary-grey: #c2c9d9;
$secondary-grey: rgba(241, 242, 245, 0.3);
$primary-yellow: #ffc100;
$white: #fff;
$black: #1f2735;

/* BASE FONT COLOR */
$baseFontColor: #1f2735;

/* BORDER COLOR */
$borderColor: #1f2735;
