// Here you can regroup all of your base SASS.
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: $primary-black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-wrap: break-word;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $primary-blue;
  font-family: 'Oswald', sans-serif;
}

p,
a {
  color: $primary-black;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0 0 15px 0;
}

a.primary-link {
  text-transform: uppercase;
  text-decoration: underline;
}

.primary-red {
  color: $primary-red;
}

.primary-grey {
  color: $primary-grey;
}

.primary-blue {
  color: $primary-blue;
}

.primary-black {
  color: $primary-black;
}
