// Here you can regroup all of your base SASS.
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: $primary-black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-wrap: break-word;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $primary-blue;
  font-family: 'Oswald', sans-serif;
}

p,
a {
  color: $primary-black;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0 0 15px 0;
}

a.primary-link {
  text-transform: uppercase;
  text-decoration: underline;
}

.primary-red {
  color: $primary-red;
}

.primary-grey {
  color: $primary-grey;
}

.primary-blue {
  color: $primary-blue;
}

.primary-black {
  color: $primary-black;
}

img {
  pointer-events: none;
}

p a {
  &:hover {
    color: $primary-red;
  }
}

.no-scroll {
  overflow: hidden;
}

#button-top {
  background-color: $primary-red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  pointer-events: none;
  border-radius: 200px;
  box-shadow: 0 3px 6px 0 rgba(210, 14, 67, 0.5);
  transition: all 0.3s ease-in-out;

  svg {
    transform: rotate(-180deg);

    path {
      fill: white;
    }
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}