.subtitle {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: $primary-grey;
  text-transform: uppercase;
}

.apia_link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: $black;
  padding-bottom: 3px;
  &:hover {
    color: $primary-red;
  }
  & svg {
    margin-right: 5px;
    margin-bottom: 1px;
  }
  &::before {
    content: '';
    mask-image: url("data:image/svg+xml,%3Csvg width='11' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.02.792a.712.712 0 0 0-.413-.02.591.591 0 0 0-.344.478c-.092.594.293 1.148.66 1.629a37.166 37.166 0 0 0 3.541 4.19c.523.509 1.217 1.031 1.918.811.392-.162.73-.432.973-.78C8.541 5.701 9.734 4.288 10.6 2.676c.155-.244.263-.514.32-.797a.942.942 0 0 0-.234-.788.949.949 0 0 0-.877-.223c-.303.082-.588.22-.842.406-.571.378-1.12.787-1.646 1.227-.444.374-.983 1.144-1.547 1.306-.564.162-1.083-.402-1.461-.742-.478-.423-.956-.87-1.444-1.265A5.393 5.393 0 0 0 1.02.792z' fill='%231F2735' fill-rule='nonzero'/%3E%3C/svg%3E");    mask-size: 8px 8px;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $primary-red;
    height: 8px;
    width: 11px;
    display: inline-block;
    margin-right: 8px;
    transform: rotate(270deg);
    margin-bottom: 2px;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, #c2c9d9 50%, transparent 0);
    background-size: 18px 1px;
    transition: background-image 0.3s;
  }
  &:hover::after {
    background-image: linear-gradient(90deg, $primary-red 50%, transparent 0);
  }
}

.label-grey {
  border-radius: 2px;
  text-transform: uppercase;
  background-color: grey;
  padding: 5px 15px;
  color: $white;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  border-radius: 2px;
  background-color: rgba(31, 39, 53, 0.5);
  box-shadow: 0 2px 20px rgba(194, 201, 217, 0.25);
}

.special_display {
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(194, 201, 217, 0.25);
  border: 1px solid #f1f2f5;
}

.opacity-0 {
  opacity: 0 !important;
}
.opacity-1 {
  opacity: 0.2 !important;
}
.opacity-2 {
  opacity: 0.4 !important;
}
.opacity-3 {
  opacity: 0.6 !important;
}
.opacity-4 {
  opacity: 0.8 !important;
}
.opacity-5 {
  opacity: 1 !important;
}

.breadcrumb {
  .hs-menu-wrapper {
    > ul.active-branch {
      margin: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline-block !important;
      height: inherit;
      &.active-branch:not(:first-child):before {
        content: '›';
        color: $primary-red;
        margin: 0 3px;
        font-size: 16px;
      }
      li {
        width: auto;
        display: inline-block;
        margin-top: 0 !important;
        &:not(.active-branch) {
          display: none;
        }
        &.active {
          a {
            color: $black;
            font-weight: 500;
            &:hover {
              text-decoration: none;
              color: $black;
            }
          }
        }
        a {
          color: grey;
          text-decoration: none;
          transition: color 0.3s;
          font-size: 16px;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .hs-menu-wrapper {
      > ul.active-branch {
        a {
          font-size: 12px;
        }
      }
    }
  }
}
