<!--
  templateType: global_partial
  label: Page Footer Landing
-->

<footer>
    <div class="global-landing-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>Zac du chêne vert, Avenue de la croix verte - 35650 Le Rheu - France</p>
                    <p class="copyright">
                        Copyright {{year}} - APIA
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>