<!--
  templateType: global_partial
  label: Page Header Landing
-->

<div class="global-header-landing py-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-content d-flex align-items-center justify-content-between flex-wrap">
                    <a class="navbar-brand p-0" href="https://www.apia-sa.com/fr/">
                        <img class="logo-landing" loading="lazy"
                            src="https://f.hubspotusercontent20.net/hubfs/8191022/logo/logo-baseline-apia.svg"
                            width="258" height="58" alt="logo APIA">
                    </a>
                    <a class="phone-number text-decoration-none mt-1 mt-md-0" href="tel:+33299146233">
                        <img loading="lazy"
                            src="https://f.hubspotusercontent20.net/hubfs/8191022/Landing/phone-icon.png"
                            alt="phone icon">
                        +33 2 99 14 62
                        33</a>
                </div>
            </div>
        </div>
    </div>
</div>