.global-blog-post {
  .blog-post-header {
    .container-info {
      .tag-label {
        background-color: #d20e43;
        padding: 5px;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        text-decoration: none;
        border-radius: 5px;
        z-index: 100;
      }
    }

    .container-featured-img {
      figure {
        height: 500px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        img {
          object-fit: cover;
          font-family: 'object-fit:cover', 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          pointer-events: none;
          transition: all 0.3s;
        }

        figcaption {
          position: absolute;
          bottom: 0;
          width: 100%;
          max-height: 100%;
          overflow: auto;
          padding: 3em 0.77em 0.7em;
          color: #fff;
          text-align: center;
          font-size: 0.8em;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 70%, transparent);
          box-sizing: border-box;
          margin: 0;
          font-weight: 600;
        }
      }
    }
  }

  .blog-post-body {
    .post-content {

      p a,
      li a {
        &:hover {
          color: $primary-red;
        }
      }

      #hs_cos_wrapper_post_body {
        .hs-cta-wrapper {
          a.cta_button {
            text-decoration: none;
            margin: 45px 0;

            &.white-book {
              display: block;
              border-radius: 10px;
              background-color: $primary-blue;
              padding: 50px 260px 50px 50px;
              background-image: url("data:image/svg+xml,%3Csvg width='1076' height='1108' viewBox='0 0 1076 1108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='100' y='0' width='788' height='513'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M772.499 214.804C444.04 576.648 49.9833 532.687 174.826 305.05C312.523 63.6594 1035.29 -132.628 772.499 214.804Z' fill='%23E9ECF2'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Crect x='44.2734' y='169.877' width='524' height='392' rx='9' transform='rotate(-11.7518 44.2734 169.877)' fill='%23E9ECF2'/%3E%3C/g%3E%3Cpath d='M573.141 426.929C573.141 426.929 798.483 591.477 806.757 728.124C806.757 728.124 812.592 808.904 661.998 779.812C511.427 750.622 349.138 642.41 277.261 549.649C205.361 456.985 192.052 375.619 256.15 333.5C320.127 291.456 462.193 338.643 573.141 426.929Z' stroke='white'/%3E%3Cpath d='M599.046 447.757C599.046 447.757 824.387 612.304 832.661 748.951C832.661 748.951 838.497 829.731 687.902 800.639C537.332 771.45 375.042 663.237 303.166 570.476C231.265 477.813 217.956 396.446 282.054 354.328C346.031 312.283 488.001 359.446 599.046 447.757Z' stroke='white'/%3E%3Cpath d='M619.931 464.684C619.931 464.684 845.272 629.232 853.546 765.879C853.546 765.879 859.382 846.658 708.787 817.567C558.217 788.377 395.927 680.165 324.051 587.404C252.15 494.74 238.841 413.374 302.939 371.255C366.94 329.114 509.007 376.301 619.931 464.684Z' stroke='white'/%3E%3C/svg%3E%0A");
              background-repeat: no-repeat;
              background-position-x: -42%;
              background-position-y: 35%;
              transition: all 0.3s;

              &:hover {
                transform: translateY(-4px);
                box-shadow: 0 5px 20px rgba($color: #000000, $alpha: 0.18);
              }

              p {
                color: $white;

                &:first-child {
                  font-weight: 700;
                  font-family: 'Oswald', sans-serif;
                  font-size: 45px;
                  line-height: 45px;
                  margin-bottom: 30px;
                }

                &:last-child {
                  background-color: #d20e43;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
                  font-weight: 700;
                  border-radius: 3px;
                  border: none;
                  color: #fff;
                  text-decoration: none;
                  text-transform: uppercase;
                  text-align: center;
                  padding-left: 30px;
                  padding-right: 30px;
                  padding-top: 15px;
                  padding-bottom: 15px;
                  transition: all 0.4s ease;
                  cursor: pointer;
                  box-shadow: 0 3px 6px 0 rgba(210, 14, 67, 0.5);
                  display: inline-block;
                  position: relative;
                  transition: 0.4s ease;

                  &::after {
                    content: '';
                    position: absolute;
                    right: -22px;
                    top: -20px;
                    background-image: url('https://f.hubspotusercontent20.net/hubfs/8191022/hover-primary-button.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 30px;
                    height: 21px;
                    transition: all 0.2s;
                    z-index: auto;
                  }
                }
              }
            }

            &.white-book-second {
              display: block;
              border-radius: 10px;
              background-color: $primary-blue;
              padding: 50px 260px 50px 50px;
              background-image: url('https://www.apia-sa.com/hubfs/Livres%20Blancs/white-book-2.png');
              background-repeat: no-repeat;
              background-position-x: -23%;
              background-position-y: 44%;
              top: 50%;
              transition: all 0.3s;

              &:hover {
                transform: translateY(-4px);
                box-shadow: 0 5px 20px rgba($color: #000000, $alpha: 0.18);
              }

              p {
                color: $white;

                &:first-child {
                  font-weight: 700;
                  font-family: 'Oswald', sans-serif;
                  font-size: 45px;
                  line-height: 45px;
                  margin-bottom: 30px;
                }

                &:last-child {
                  background-color: #d20e43;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
                  font-weight: 700;
                  border-radius: 3px;
                  border: none;
                  color: #fff;
                  text-decoration: none;
                  text-transform: uppercase;
                  text-align: center;
                  padding-left: 30px;
                  padding-right: 30px;
                  padding-top: 15px;
                  padding-bottom: 15px;
                  transition: all 0.4s ease;
                  cursor: pointer;
                  box-shadow: 0 3px 6px 0 rgba(210, 14, 67, 0.5);
                  display: inline-block;
                  position: relative;
                  transition: 0.4s ease;

                  &::after {
                    content: '';
                    position: absolute;
                    right: -22px;
                    top: -20px;
                    background-image: url('https://f.hubspotusercontent20.net/hubfs/8191022/hover-primary-button.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 30px;
                    height: 21px;
                    transition: all 0.2s;
                    z-index: auto;
                  }
                }
              }
            }
          }
        }

        div span,
        p {
          font-size: 18px;
          line-height: 26px;

          a {
            color: $primary-red;

            &:hover {
              text-decoration: none;
            }
          }
        }

        h2:first-child {
          margin-top: 0;
        }

        h2 {
          font-size: 30px;
          font-weight: 700;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        h3 {
          font-size: 24px;
          line-height: 32px;
          font-weight: 700;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        img {
          max-width: 100%;
          border-radius: 5px;
        }

        ol {
          list-style: none;
          counter-reset: my-awesome-counter;
          padding-left: 0;
        }

        ol li {
          counter-increment: my-awesome-counter;
          font-size: 18px;

          p {
            display: initial;
          }

          +li {
            margin-top: 15px;
          }
        }

        ol li::before {
          content: counter(my-awesome-counter) ' • ';
          color: $primary-red;
        }

        ul {
          list-style-type: none;
          padding-left: 0;

          li {
            padding-left: 15px;
            position: relative;
            line-height: 30px;
            font-size: 18px;

            &:before {
              content: '-';
              color: #ffc100;
              position: absolute;
              left: 0;
            }
          }

          &.circle li:before {
            content: '•';
          }
        }

        blockquote {
          position: relative;
          padding-left: 30px;
          margin: 45px 0;

          &:before {
            content: '';
            position: absolute;
            width: 5px;
            height: 100%;
            background: $primary-red;
            top: 0;
            left: 0px;
            border-radius: 100px;
          }

          >p {
            font-style: italic;
            font-size: 25px;
            margin-bottom: 10px;
            line-height: 1.25;
          }

          cite {
            color: $primary-grey;
            font-size: 12px;
            font-weight: 700;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        figure {
          position: relative;
          margin: auto;
          width: auto;
          max-width: 100%;
          display: table;

          figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            max-height: 100%;
            overflow: auto;
            padding: 3em 0.77em 0.7em;
            color: #fff;
            text-align: center;
            font-size: 0.8em;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 70%, transparent);
            font-weight: 600;
            box-sizing: border-box;
            margin: 0;
          }
        }
      }
    }

    .post-sidebar {
      .container-author {
        figure {
          max-width: 65px;
          border-radius: 3px;
          overflow: hidden;
        }

        .container-author-info {
          p {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      .sidebar-cta {
        border-radius: 10px;
        background-color: $primary-blue;

        h2,
        p {
          color: $white;
        }
      }

      .container-share-post {
        .share-link {
          position: relative;
          text-decoration: none;
          font-size: 16px;
          color: #1f2735;
          padding-bottom: 3px;
          font-weight: 700;
          text-transform: uppercase;

          svg {
            margin-right: 5px;
            margin-bottom: 1px;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(90deg, #c2c9d9 50%, transparent 0);
            background-size: 18px 1px;
            transition: background-image 0.3s;
          }

          &:hover {
            color: $primary-red;

            &::after {
              background-image: linear-gradient(90deg, #d20e43 50%, transparent 0);
            }
          }
        }
      }

      .container-share-social {
        a {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          width: 1.875rem;
          height: 1.875rem;
          border: 0.0625rem solid $primary-red;
          background-color: transparent;
          border-radius: 0.3125rem;
          transition: background-color 0.2s ease;

          svg {
            path {
              transition: background-color 0.2s ease;
              fill: $primary-red;
            }
          }

          &:hover {
            background-color: $primary-red;

            svg path {
              fill: $white;
            }
          }
        }
      }

      .container-social-link {
        .social-link {
          text-decoration: none;

          p {
            margin-left: 5px;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1.5;
          }
        }

        .social-container:hover {
          p {
            color: $primary-red;
          }

          svg {
            fill: $primary-red;
          }
        }
      }
    }
  }

  .blog-post-related {
    .title-related-posts {
      border-top: 1px solid $primary-grey;
    }

    .single-post {
      position: relative;

      .post-link {
        text-decoration: none;
        background-repeat: no-repeat;
        background-image: linear-gradient(transparent 95%, #000 0);
        background-size: 0 100%;
        will-change: background-size;
        transition: background-size 0.3s;
        color: #1f2735;
      }

      &:hover {
        .post-link {
          background-size: 100% 100%;
        }

        img {
          transform: scale(0.97);
        }
      }

      a {
        text-decoration: none;
      }

      .container-tags {
        z-index: 10;
        position: relative;
        margin-top: -17px;

        a {
          background-color: #d20e43;
          padding: 5px;
          color: #fff;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
          line-height: 1;
          text-decoration: none;
          border-radius: 5px;
          z-index: 100;
        }
      }

      .feat-img {
        position: relative;
        display: block;
        height: 220px;
        border-radius: 5px;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          font-family: 'object-fit:cover';
          object-fit: cover;
          transition: transform 0.3s;
        }
      }

      h3 {
        line-height: 25px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .global-blog-post .blog-post-body .post-content #hs_cos_wrapper_post_body .hs-cta-wrapper {
    a.cta_button.white-book {
      padding: 50px 100px 50px 50px;
      background-position-x: -25%;
    }

    a.cta_button.white-book-second {
      padding: 50px 100px 50px 50px;
      background-image: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .global-blog-post .blog-post-body .post-content #hs_cos_wrapper_post_body .hs-cta-wrapper {
    a.cta_button.white-book {
      padding: 30px;
      background-image: none;
    }

    a.cta_button.white-book-second {
      padding: 30px;
      background-image: none;
    }
  }
}