{% require_css %}
{{ require_css(get_asset_url("../../css/content-slider.css"), { async: true }) }}
{% end_require_css %}
<div id="{{module.module_identity}}"
    class="global-content-slider {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="row container__content--text">
            <div class="col-12 text-center">
                {% if module.content_group.subtitle %}
                <span class="subtitle">{{module.content_group.subtitle}}</span>
                {% endif %}
                <h2 class="mt-0 mb-2">{{module.content_group.title}}</h2>
                {% inline_rich_text field="rich_text" value="{{ module.content_group.text }}" %}
                {% if module.content_group.content_link_url.href %}
                <a class="mt-1 {{module.content_style.button_type}}-button mx-auto"
                    href="{{module.content_group.content_link_url.href}}">{{module.content_group.content_link_title}}<span
                        class="icon-arrowright"></span></a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-2 mt-md-4">
            <div class="copy-container carousel">
                {% for item in module.content_group.slider_group %}
                {% if item.content_link_url.href %}
                <div class="carousel-cell">
                    <a href="{{item.content_link_url.href}}">
                        {% if item.image.src %}
                        <figure class="figure">
                            <img class="img-fluid rounded" loading="lazy" src="{{ item.image.src }}"
                                width="{{ item.image.width }}" height="{{ item.image.height }}"
                                alt="{{ item.image.alt }}" />
                        </figure>
                        {% else %}
                        <figure class="figure">
                            <img class="img-fluid rounded" loading="lazy" width="250" height="350"
                                src="https://via.placeholder.com/250x350/919388/ffffff.png?text=250x350">
                        </figure>
                        {% endif %}
                        <div class="card-slide rounded">
                            <h3>
                                Biscuiterie & Viennoiserie
                            </h3>
                            <p>Lorem ispum</p>
                        </div>
                    </a>
                </div>
                {% else %}
                <div class="carousel-cell">
                    {% if item.image.src %}
                    <figure class="figure">
                        <img loading="lazy" class="img-fluid rounded" width="{{ item.image.width }}"
                            height="{{ item.image.height }}" src="{{ item.image.src }}" alt="{{ item.image.alt }}" />
                    </figure>
                    {% else %}
                    <figure class="figure">
                        <img loading="lazy" class="img-fluid rounded" width="250" height="350"
                            src="https://via.placeholder.com/250x350/d20e43/ffffff.png?text=250x350">
                    </figure>
                    {% endif %}
                    <div class="card-slide rounded">
                        <p class="card-title">
                            {{item.title}}
                        </p>
                        {{item.content}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>