<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: APIA 500 Error Page
-->
{% extends "../layouts/base-system.html" %}


{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page password-prompt">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto text-center">
              <div class="error-page" data-error="500">
                <h2 class="error-title mb-0">500</h2>
                <h1 class="error-page_heading mb-1 mt-2">
                  Nous avons rencontré un problème
                </h1>
                <p class="mb-0">Désolé, nous ne pouvons pas accéder à cette information pour l'instant.</p>
                <p>Merci de réessayer plus tard.</p>
                <a class="primary-button mt-1" href="/">Retourner à l'accueil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock body %}