<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: APIA Password Prompt Page
-->
{% extends '../layouts/base-system.html' %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page password-prompt">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto text-center">
              {% module 'content'
        path='@hubspot/rich_text',
        html='<h1 class="mb-2">Mot de passe requis</h1><p class="mb-2">Veuillez entrer le mot de passe requis pour visualiser cette page.</p>'
      %}
<!--               {% module "module_16024385575607" path="/APIA-System/password_prompt_apia", label="password_prompt_apia" %} -->


              {% module 'password_prompt'
        extra_classes='password-prompt',
        path='@hubspot/password_prompt'
      %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock body %}