<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: APIA Email Subscription Preferences Page
-->

{% extends '../layouts/base-system.html' %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page subscriptions-preferences">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto text-center">
            {% module "module_16024385113513" path="/APIA-System/email_subscriptions_apia", label="email_subscriptions_apia" %} -->


            <!--   {% module "subscription_preferences" path="@hubspot/email_subscriptions" %} -->



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock body %}