{% require_css %}
{{ require_css(get_asset_url("../../css/home-data-infos.css"), { async: true }) }}
{% end_require_css %}
<div id="{{module.module_identity}}"
    class="global-home-data-infos position-relative {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %} py-2 py-md-4">
    <div class="container__bg--img">
        {% if module.content_group.image.src %}
        <figure class="figure h-100">
            <img loading="lazy" class="img-fluid rounded" width="{{ module.content_group.image.width }}"
                height="{{ module.content_group.image.height }}" src="{{ module.content_group.image.src }}"
                alt="{{ module.content_group.image.alt }}" />
        </figure>
        {% else %}
        <figure class="figure h-100">
            <img class="img-fluid rounded" loading="lazy" width="1400" height="1400"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 960 640'%3E%3C/svg%3E"
                data-src="https://via.placeholder.com/1400x1400/919388/ffffff.png?text=image">
        </figure>
        {% endif %}
    </div>
    <div class="container-lg text-center">
        <div class="row container__content">
            <div class="col-12">
                {% if module.content_group.subtitle %}
                <span class="subtitle">{{module.content_group.subtitle}}</span>
                {% endif %}
                {% inline_rich_text field="rich_text" value="{{ module.content_group.text }}" %}
                <div id="counter" class="container__content--data d-flex justify-content-between mt-2 mt-md-3">

                    {% for item in module.content_group.data_infos %}
                    <div class="data--item d-flex flex-column align-items-center mb-2 mb-md-1 mb-lg-0">
                        <div class="d-flex">
                            <span class="data--unit counter-value" data-count="{{item.number_info}}">0</span>
                            <span>{{item.number_unit}}</span>
                        </div>
                        <p class="h6 mt-1">{{item.text_info}}</p>
                    </div>
                    {% endfor %}

                </div>
                {% if module.content_group.external_link_url.href %}
                <a class="{{module.content_style.button_type}}-button mt-md-3 mx-auto"
                    href="{{module.content_group.external_link_url.href}}">{{module.content_group.external_link_title}}<span
                        class="icon-external-link"></span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>