{% require_css %}
{{ require_css(get_asset_url("../../css/audit.css"), { async: true }) }}
{% end_require_css %}
<div id="{{module.module_identity}}"
    class="global-audit {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-lg-10 mx-auto">
                <div class="container__content bg-red d-flex rounded p-1 p-md-0">
                    <div class="container__content--text">
                        <div class="copy-wrapper pl-md-2 pl-lg-4 py-1 py-md-2 pr-md-1">
                            {% inline_rich_text field="rich_text" value="{{ module.content_group.text }}" %}
                            {% if module.content_group.external_link_url.href %}
                            <a class="secondary-button reverse-border"
                                href="{{module.content_group.external_link_url.href}}">{{module.content_group.external_link_title}}<span
                                    class="icon-external-link"></span></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="container__content--img d-none d-md-block">
                        {% if module.content_group.image.src %}
                        <figure class="figure">
                            <img class="img-fluid" loading="lazy" src="{{ module.content_group.image.src }}"
                                width="{{ module.content_group.image.width }}"
                                height="{{ module.content_group.image.height }}"
                                alt="{{ module.content_group.image.alt }}" />
                        </figure>
                        {% else %}
                        <figure class="figure">
                            <img class="img-fluid" loading="lazy" width="600" height="600"
                                src="https://via.placeholder.com/600x600/919388/ffffff.png?text=image">
                        </figure>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>