{% require_css %}
{{ require_css(get_asset_url("../../css/separated-cols-content.css"), { async: true }) }}
{% end_require_css %}
<div id="{{module.module_identity}}"
    class="global-separated-cols {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <h2>{{module.content_group.title}}</h2>
            </div>
        </div>
        {% for item in module.content_group.content_group %}
        <div class="row mb-2 container__content">
            <div class="col-md-4 container__content--img">
                {% if item.image.src %}
                <figure class="figure">
                    <img class="img-fluid rounded" loading="lazy" width="{{ item.image.width }}"
                        height="{{ item.image.height }}" src="{{ item.image.src }}" alt="{{ item.image.alt }}" />
                </figure>
                {% else %}
                <figure class="figure">
                    <img loading="lazy" class="img-fluid rounded" width="600" height="600"
                        src="https://via.placeholder.com/600x600/919388/ffffff.png?text=image">
                </figure>
                {% endif %}
            </div>
            <div class="col-md-7 offset-md-1 container__content--text">
                {% inline_rich_text field="rich_text" value="{{ item.content }}" %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>