{% require_css %}
{{ require_css(get_asset_url("../../css/pilar-testi.css"), { async: true }) }}
{% end_require_css %}
<div id="{{module.module_identity}}"
    class="pilar-testi {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class='testi'>
        <div class="testi-text">
            {{module.testi}}
        </div>
        <div class="author">
            <p>{{module.author}}</p>
        </div>
    </div>
</div>