{% require_css %}
{{ require_css(get_asset_url("../../css/header-classic.css"), { async: true }) }}
{% end_require_css %}
<div id="{{module.module_identity}}"
    class="global-classic-header pt-md-3 {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="breadcrumb">
                    {% menu "my_menu" id=36098716027, site_map_name='Default', overrideable=False,
                    root_type='site_root', flyouts='true', flow='horizontal', label='Advanced Menu' %}
                </span>
                {% inline_rich_text field="rich_text" value="{{ module.content_group.text }}" %}
                {% if module.content_group.content_link_url.href %}
                <a class="{{module.content_style.button_type}}-button mx-auto mt-2"
                    href="{{module.content_group.content_link_url.href}}">{{module.content_group.content_link_title}}<span
                        class="icon-arrowright"></span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>