<!--
  templateType: blog
  isAvailableForNewContent: true
  label: APIA Blog Post
-->
{% extends '../layouts/base-blog.html' %}
{% block body %}
<!-- Here you can manage your blog post -->
<div class="global-blog-post overflow-hidden">
  <div class="blog-post-header">
    <div class="container-lg">
      <div class="row">
        <div class="col-12">
          <div class="container-info text-center">
            {% if content.tag_list %} {% for tag in content.tag_list %}
            <a class="tag-label" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
            {% endfor %} {% endif %}
            <h1 class="h2 mb-4 mt-1">{{ content.name }}</h1>
          </div>
          <div class="container-featured-img">
            <figure class="m-0">
              <img class="img-fluid lazy"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 350 240'%3E%3C/svg%3E"
                data-src="{{ content.featured_image }}" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-post-body">
    <div class="container position-relative">
      <div class="container_shape position-absolute bg-drowdown-scd d-none d-md-block">
        <svg></svg>
        <svg width="950px" height="485px" viewBox="0 0 950 485" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Homepage---Mockup---V5.3" transform="translate(-446.000000, -3041.000000)" fill="#F1F2F5">
              <g id="produits" transform="translate(144.000000, 2714.000000)">
                <path
                  d="M409.399566,548.242946 C925.91791,173.590835 1418.3536,334.342472 1198.05105,591.755223 C957.642724,863.3109 -19.2749092,921.934684 409.399566,548.242946 Z"
                  id="Path-Copy"
                  transform="translate(777.000000, 569.500000) scale(1, -1) translate(-777.000000, -569.500000) ">
                </path>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="row my-4">
        <div class="col-md-7">
          <div class="post-content">
            {{ content.post_body }}
          </div>
        </div>
        <div class="col-md-4 offset-md-1" data-sticky-container>
          <div class="post-sidebar">
            <span class="subtitle">Article écrit le
              {{ content.publish_date|datetimeformat('%e/%m/%y') }} par</span>
            <div class="container-author d-flex mt-1 mb-2 mb-md-4 align-items-center">
              <figure class="m-0 h-100">
                <img class="author-photo img-fluid lazy"
                  src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 350 240'%3E%3C/svg%3E"
                  data-src="{{ content.blog_post_author.avatar }}" alt="Photo de {{ blog_author.display_name }}" />
              </figure>
              <div class="container-author-info ml-md-1">
                <p class="h6 m-0">{{ content.blog_post_author.display_name }}</p>
                <p class="m-0">
                  {{ content.blog_post_author.bio }}
                </p>
              </div>
            </div>
            <div class="sticky container-sticky" data-margin-top="120">
              <div class="sidebar-cta p-2">
                {% widget_block rich_text "right_column" overrideable=True, label='Texte CTA'  %}
                {% widget_attribute "html" %}
                <h2 class="mt-0">Échangez avec un expert</h2>
                <p class="mb-2">Vous avez un projet d'optimisation de vos lignes industrielles ? Profitez de
                  l'expérience des
                  équipes APIA Technologie spécialiste de l'agroalimentaire.</p>
                <a href="/contacter" class="btn primary-button">prendre rendez-vous</a>
                {% end_widget_attribute %}
                {% end_widget_block %}
              </div>
              <div class="container-share-social my-1">
                <span class="subtitle">Partager l'article</span>
                <div class="d-flex mt-1">
                  <a href="https://www.linkedin.com/shareArticle/?mini=true&url={{content.absolute_url}}"
                    title="Linkedin">
                    <svg class="l-footer__icon" width="20" height="20">
                      <path
                        d="M17 17h-2.8v-4.9c0-1.343-.593-2.093-1.656-2.093-1.157 0-1.844.781-1.844 2.094V17H7.9V7.9h2.8v1.023s.878-1.541 2.858-1.541S17 8.59 17 11.091V17zM4.71 6.445C3.764 6.445 3 5.673 3 4.722 3 3.772 3.765 3 4.71 3c.943 0 1.708.771 1.708 1.722S5.653 6.445 4.71 6.445zM3 17h3.5V7.9H3V17z"
                        fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                  <a class="ml-1" href="http://twitter.com/share?url={{content.absolute_url}}" title="Twitter">
                    <svg class="l-footer__icon" width="20" height="20">
                      <path
                        d="M7.718 16c5.66 0 8.756-4.617 8.756-8.62 0-.132 0-.263-.01-.393A6.198 6.198 0 0018 5.419a6.205 6.205 0 01-1.767.477 3.053 3.053 0 001.353-1.677 6.227 6.227 0 01-1.954.736 3.115 3.115 0 00-4.355-.132 3.004 3.004 0 00-.89 2.896 8.788 8.788 0 01-6.343-3.166 3.004 3.004 0 00.953 4.044A3.091 3.091 0 013.6 8.22v.038c0 1.442 1.033 2.684 2.469 2.97-.453.122-.929.14-1.389.052a3.075 3.075 0 002.875 2.104A6.236 6.236 0 013 14.64a8.815 8.815 0 004.718 1.359"
                        fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                  <a class="ml-1" href="http://www.facebook.com/sharer.php?u={{content.absolute_url}}" title="Facebook">
                    <svg class="l-footer__icon" width="20" height="20">
                      <path
                        d="M11.457 18v-7.2h2.186L14 7.6h-2.543V6.042c0-.824.021-1.642 1.173-1.642h1.166V2.112c0-.034-1.002-.112-2.015-.112-2.117 0-3.442 1.326-3.442 3.76V7.6H6v3.2h2.339V18h3.118z"
                        fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </a>
                  <a class="ml-1" href="mailto:%20?body={{content.absolute_url}}" title="mail">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 22 22">
                      <path
                        d="M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z" />
                    </svg>
                  </a>
                </div>
              </div>
              <span class="subtitle">Nous suivre sur les réseaux</span>
              <div class="container-social-link mt-1">
                <a class="social-link" href="https://www.linkedin.com/company/apia-technologie/" target="_blank">
                  <div class="social-container d-flex align-items-center">
                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px"
                      height="20px">
                      <path
                        d="M21.8,0H2.2C1,0,0,1,0,2.2v19.6C0,23,1,24,2.2,24h19.6c1.2,0,2.2-1,2.2-2.2V2.2C24,1,23,0,21.8,0z M7,20H3V9h4V20z M5,7.7L5,7.7c-1.2,0-2-0.8-2-1.8C3,4.8,3.8,4,5,4c1.2,0,2,0.8,2,1.8C7,6.9,6.2,7.7,5,7.7z M21,20h-4v-6 c0-1.6-1.1-2-1.4-2c-0.3,0-1.6,0.2-1.6,2c0,0.2,0,6,0,6h-4V9h4v1.6C14.6,9.7,15.6,9,17.5,9s3.5,1.5,3.5,5V20z">
                      </path>
                    </svg>
                    <p class="mb-0">Linkedin</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-post-related">
    <div class="container">
      <div class="row">
        {% set topic_array = [] %}
        {% for topic in content.topic_list %}
        {% do topic_array.append( topic.slug ) %}
        {% endfor %}
        {% set related_posts =
              blog_recent_topic_posts('default', topic_array, 4 ) %}

        {% set my_num = 0 %}
        {% if related_posts|length > 1 %}
        <div class="col-12">
          <h2 class="title-related-posts mt-0 pt-2 pt-md-4">Ces articles peuvent vous intéresser</h2>
        </div>
        {% for post in related_posts %} 
        {% unless
              content.absolute_url == post.absolute_url %}


              
        <div class="col-md-4">
          <div class="single-post">

            {% if post.featured_image %}
            <a class="feat-img" href="{{ post.absolute_url }}">
              <img class="rounded w-100 lazy"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 350 240'%3E%3C/svg%3E"
                data-src="{{ post.featured_image }}" />
            </a>
            {% endif %}
            <div class="container-tags ml-1">
              {% for tag in post.tag_list %}
              <a href="{{ blog_tag_url(group.id, tag.slug) }}" class="single-tag">{{ tag.name }}</a>
              {% endfor %}
            </div>
            <h3 class="mt-1"><a class="post-link" href="{{ post.absolute_url }}">{{ post.name }}</a></h2>
              <!-- {{ post.post_list_content|truncatehtml(20) }} -->
          </div>
        </div>
        {% endunless %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="global-newsletter">
    <div class="bg-light-green pattern-light text-white py-5">
      <div class="container">
        <div class="row no-gutters container__content p-1 p-md-2 py-lg-2 px-lg-4">
          <div class="col-md-6">
            <span class="subtitle">Newsletter</span>
            <p class="h2">Rejoignez-nous,</p>
            <p class="h3">en vous abonnant à notre newsletter</p>
          </div>
          <div class="col-md-6">
            <div class="subscribe-form">
              {% form "my_form" form_to_use='9e2d1b16-443c-4fa1-8342-af8fb54f317e', title='My Form' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}