<div id="{{module.module_identity}}"
    class="global-classic-header {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                
                {% inline_rich_text field="rich_text" value="{{ module.content_group.text }}" %}
                {% if module.content_group.content_link_url.href %}
                <a class="{{module.content_style.button_type}}-button mx-auto mt-2"
                    href="{{module.content_group.content_link_url.href}}">{{module.content_group.content_link_title}}<span
                        class="icon-arrowright"></span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>