<!--
  templateType: global_partial
  label: Page Header Landing
-->

<div class="global-header-landing py-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-content d-flex align-items-center justify-content-between">
                    <a class="navbar-brand p-0" href="/">
                        <img src="https://f.hubspotusercontent20.net/hubfs/8191022/apia-logo.png" alt="logo APIA">
                    </a>
                    <a class="phone-number text-decoration-none" href="tel:+33299146233">
                        <img src="https://f.hubspotusercontent20.net/hubfs/8191022/Landing/phone-icon.png"
                            alt="phone icon">
                        +33 2 99 14 62
                        33</a>
                </div>
            </div>
        </div>
    </div>
</div>