.global-two-cols-carrousel {
  br {
    display: none;
  }
  li + li {
    margin-top: 15px;
  }
  &.scrolled-fixed {
    margin-top: 86px;
  }
  .carousel-nav {
    .flickity-prev-next-button {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('https://f.hubspotusercontent20.net/hubfs/8191022/SVG/down-arrow.svg');
      cursor: pointer;
      &:hover {
        background-image: url('https://f.hubspotusercontent20.net/hubfs/8191022/SVG/down-arrow_red.svg');
      }
      &.previous {
        transform: translatex(-50%) rotate(270deg) scaleY(-1) !important;
      }
      &.next {
        transform: translateY(-50%) rotate(270deg) !important;
      }
      svg {
        display: none;
      }
    }
  }
  .carousel-main {
    .flickity-prev-next-button {
      width: 20px;
      height: 20px;
      background-size: contain;
      padding: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('https://f.hubspotusercontent20.net/hubfs/8191022/SVG/down-arrow-white.svg');
      &.previous {
        transform: translate(-50%, -50%) rotate(270deg) scaleY(-1) !important;
      }
      &.next {
        transform: translate(-50%, -50%) rotate(270deg) !important;
      }
      svg {
        display: none;
      }
    }
  }
  figure {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0px;
    outline: 0px;
    img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      font-family: 'object-fit:cover';
      object-fit: cover;
      border: 0px;
      outline: 0px;
    }
  }
  .container-carousel {
    .carousel {
      background: #fafafa;
      margin-bottom: 40px;
      border: 0px;
      outline: 0px;
      button {
        background-color: transparent;
        border: 0;
        &.flickity-fullscreen-button-view {
          position: absolute;
          bottom: 8px;
          right: 8px;
          background-color: rgba(255, 255, 255, 0.6);
          padding: 0;
          background-image: url('https://f.hubspotusercontent20.net/hubfs/8191022/SVG/fullscreen.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 70%;
          border-radius: 5px;
          height: 40px;
          transition: all 0.2s;
          svg {
            display: none;
          }
          &:hover {
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    .carousel-main {
      button {
        width: 40px;
      }
      &.is-fullscreen {
        border: 0px;
        outline: 0px;
        figure {
          display: inherit;
          width: 40%;
          margin: 0 auto;
          height: calc(100vw * 0.4 * 0.5625);
          top: 50%;
          transform: translateY(-50%);
          @media screen and (max-width: 576px) {
            width: 80%;
            height: 50vw;
          }
          &.full-h {
            width: calc(100vh * 0.8 * 0.5625);
            height: 62%;
          }
        }
        .carousel-cell {
          height: 100%;
          width: 100%;
          border: 0px;
          outline: 0px;
          img {
            /* max-width: 700px; */
            position: absolute;
            /*           left: 50%;
            transform: translate(-50%, 0); */
            border: 0px;
            outline: 0px;
          }
        }
      }
      .flickity-prev-next-button,
      .flickity-fullscreen-button-exit {
        display: none;
      }
      &.is-fullscreen {
        .flickity-prev-next-button,
        .flickity-fullscreen-button-exit {
          width: 32px;
          display: inherit;
          svg {
            path {
              fill: white;
            }
          }
        }
      }
    }

    .flickity-viewport {
      overflow: hidden;
      outline: none;
      cursor: grab;
    }

    /* is-nav-selected class added to nav cells */
    .carousel-nav {
      outline: none;
      .flickity-viewport {
        outline: none;
        cursor: grab;
      }
      .carousel-cell {
        width: 31% !important;
        margin-right: 0 !important;
        height: 138px !important;
        opacity: 0.5;
        margin-left: 3.5% !important;
        &.is-selected {
          opacity: 1;
        }
      }
      .flickity-prev-next-button {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        width: 20px;
        height: 20px;
        padding: 0;
        background-size: contain;
        &.previous {
          left: -30px;
        }
        &.next {
          right: -30px;
        }
      }
    }

    .carousel-cell {
      width: 100%;
      height: 445px;
      margin-right: 10px;
      border-radius: 5px;
      counter-increment: carousel-cell;
    }

    .carousel-main.is-fullscreen {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: hsla(0, 0%, 0%, 0.9);
      padding-bottom: 35px;
      z-index: 200;
      .flickity-slider {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .carousel-cell {
        top: 50%;
        transform: translate(0%, -50%);
      }
      .carousel-cell.is-selected {
        top: 50%;
        transform: translate(0%, -50%);
      }
      .flickity-prev-next-button {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 3000;
        top: 85%;
        svg path {
          fill: white;
        }
        &.next {
          left: calc(50% + 100px);
        }
        &.previous {
          left: calc(50% - 100px);
        }
      } 
      .flickity-fullscreen-button-view {
        display: none;
      }
      .flickity-fullscreen-button-exit {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 3000;
        top: 85%;
        left: 50%;
        padding: 0;
      }
    }

    /* cell number */
    /* .carousel-cell:before {
      display: block;
      text-align: center;
      content: counter(carousel-cell);
      line-height: 200px;
      font-size: 80px;
      color: white;
    } */

    .carousel-nav .carousel-cell {
      height: 80px;
      width: 100px;
    }

    .carousel-nav .carousel-cell:before {
      font-size: 50px;
      line-height: 80px;
    }
  }
  h1 {
    margin-top: 0;
  }
  .container-text {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        padding-left: 15px;
        position: relative;
        line-height: 30px;
        &::before {
          content: '-';
          color: $primary-yellow;
          position: absolute;
          left: 0;
          font-weight: bold;
          font-size: 26px;
          top: -2px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .global-two-cols-carrousel .container-carousel .carousel-nav {
    width: 85%;
    margin: 0 auto;
  }
}
